ASPNETCORE_ENVIRONMENT=Production
API_PORT=5126

POSTGRES_PORT=5432
POSTGRES_DB=jaidee_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

LINEBOT_CHANNEL_SECRET=replace-me
LINEBOT_CHANNEL_ACCESS_TOKEN=replace-me
LINEBOT_API_BASE_URL=https://api.line.me/
LINEBOT_SKIP_SIGNATURE_VALIDATION=false
